<% order = @payment.order %>

<div id="checkout" data-hook>
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => order } %>

  <div class="row" data-hook="checkout_header">
    <h1 class="columns three alpha" data-hook="checkout_title"><%= Spree.t(:checkout) %></h1>
    <div class="columns thirteen omega" data-hook="checkout_progress"><%= checkout_progress_with_puntopagos(order) %></div>
  </div>

  <div class="row" data-hook="checkout_content">
    <div class="columns alpha twelve" data-hook="puntopagos_field_wrapper">
      <%= form_for order, :url => update_checkout_path(order.state), :html => { :id => "checkout_form_#{order.state}" } do |form| %>
        <fieldset id="billing" data-hook>
          <legend align="center">Payment Information</legend>

          <% if order.completed? %>
            <h1>Payment successfully completed</h1>

            <p>We have already registered the payment of your order.</p>
            <p>Thanks you for your preference</p>

          <% else %>
            <h1>Payment process completed</h1>

            <p>We are awaiting confirmation of payment of your order.</p>
          <% end %>

          <h2>Purchase code</h2>

          <p>
            <strong>
              <%= @payment.token %>
            </strong>
          </p>
        </fieldset>

        <hr class="clear" />

        <div class="form-buttons" data-hook="buttons">
          <%= submit_tag Spree.t(:save_and_continue), :class => 'continue button primary' %>
          <script>Spree.disableSaveOnClick();</script>
        </div>
      <% end %>
    </div>

    <% if order.state != 'confirm' %>
      <div id="checkout-summary" data-hook="checkout_summary_box" class="columns omega four">
        <%= render :partial => 'spree/checkout/summary', :locals => { :order => order } %>
      </div>
    <% end %>
  </div>

</div>

<% if I18n.locale != :en %>
  <script src="<%= assets_prefix %>/jquery.validate/localization/messages_<%= I18n.locale %>.js"></script>
<% end %>
